%strong= number_with_delimiter source.headlines.count
= 'smash'.pluralize(source.headlines.count)

%span.text-muted /

- sum = source.votes.sum(:value)
%strong= number_with_delimiter sum
= 'upvote'.pluralize(sum)

%span.text-muted /

- count = source.source_headlines.count
smashed from
%strong= number_with_delimiter count
real
= 'headline'.pluralize(count)

.pull-right.text-right
  - avg = sum.to_f / count.to_f
  %strong= number_with_delimiter avg.round(1)
  average votes
