- @title = "Source | #{@source.name}"

%h2
  = @source.name
  .sort-tools.pull-right
    .btn-group.source-picker
      = link_to "Best", params.merge({page: 1, order: :top}), class: default_button_toggle(:order, :top, true)
      = link_to "Recent", params.merge({page: 1, order: :new}), class: default_button_toggle(:order, :new)


%h3.text-muted Most Popular Mashups
- @headline_table_show_sources = true
= render partial: 'headlines/headlines_table', locals: {headlines: @headlines}