- @title = "Source | #{@source.name}"

%h2
  = link_to "Sources", sources_url
  %span.text-muted /
  = @source.name

.stats{style: 'clear:both'}
  = render partial: 'sources/source_stats', locals: {source: @source}

%hr/

%h3 Most Popular Smashes

.sort-tools
  .btn-group.source-picker
    = link_to "Best", params.merge({page: 1, order: :top}), class: default_button_toggle(:order, :top, true)
    = link_to "Recent", params.merge({page: 1, order: :new}), class: default_button_toggle(:order, :new)

- @headline_table_show_sources = true
= render partial: 'headlines/headlines_table', locals: {headlines: @headlines}
