.byline
  .byline-tools
    %span.comments
      = link_to headline do
        %i.fa.fa-comment
        = pluralize headline.comments_count, 'comment'
    %span.votes
      = link_to headline do
        %i.fa.fa-thumbs-up
        = pluralize headline.display_score, 'vote'
  %span.author
    by
    - if headline.creator
      #{link_to headline.creator.login.upcase, headline.creator}
    - else
      STAFF
