%tr{class: "user-#{user.id} lead"}
  %td
    %strong ##{user_counter+1}
  %td.login{style:"width:50%"}
    = link_to user.login, user
  %td.karma.text-left
    %i.fa.fa-trophy
    = number_with_delimiter user.karma
    karma
  %td.karma.text-left
    %span.text-muted
      = link_to pluralize(user.headlines.size, 'saved headline'), user_headlines_url(user)
  %td.karma.text-left
    %span.text-muted
      = link_to pluralize(user.votes_count, 'vote'), user_votes_url(user)