- @title = "User | #{@user.login}"

%h2
  = @user.login
  - if current_user == @user
    = link_to edit_user_registration_url, class: 'btn btn-default pull-right' do
      %i.fa.fa-edit
      Edit Profile

.lead
  .karma
    %i.fa.fa-trophy
    = @user.karma
    karma
    .pull-right.text-muted
      signed up #{timeago_tag @user.created_at}
  .karma
    %span.text-muted
      = link_to pluralize(@user.saved_headlines_count, 'saved headline'), user_headlines_url(@user)
  .karma
    %span.text-muted
      = link_to pluralize(@user.vote_count, 'vote'), user_votes_url(@user)
  .karma
    %span.text-muted
      = link_to pluralize(@user.comments_count, 'comment'), user_comments_url(@user)

- if @user == current_user
  %hr/
  .text-muted
    %small
      %strong API Key:
      = current_user.api_key
      .pull-right
        %strong API Requests:
        = number_with_delimiter current_user.api_requests
