%tr{class: "generated-headline-#{Headline.salted_hash(headline.name)}"}
  %td.headline
    = link_to headline, target: "_blank" do
      = tooltipped_headline headline, link: url_for(@headline), link_options: {target: "_blank"}
  %td.tools.text-right
    - if @headline.vote_count < 2 && @headline.creator == current_user
      = link_to @headline, method: :delete, confirm: "Are you sure you want to unsave this headline?", class: 'btn btn-xs btn-link headline-generator-delete-link', remote: true do
        %i.fa.fa-times
    .btn-group
      = link_to headline, class: "btn btn-default disabled", target: "_blank" do
        Saved
      = link_to headline, class: "btn btn-primary", target: "_blank" do
        %i.fa.fa-comment