- @title = "Generator"
- @short_title = :generator

.row
  .col-md-4
    - if GENERATOR_DISABLED
      .alert.alert-danger
        %strong Whoops!
        The generator is currently offline. Pardon our dust.
    - else
      %form#generate-form{data: {generator_url: GENERATOR_URL, save_url: save_url}}
        %a#invent-button.btn.btn-primary.btn-lg
          %i.fa.fa-refresh.fa-spin
          %span.enabled-title Generate Hilarious Headlines
          %span.disabled-title Generating Headlines
        .alert.alert-warning.hidden{style: 'margin-top: 10px'}
          %strong Couldn't Generate Headlines
          .swamp We might be getting swamped, try again!
        %a.btn.btn-default.btn-block{data: {toggle: :collapse, target: "#generate-form .source-box"}, style: "margin-top:10px"}
          %i.fa.fa-gear
          Edit Sources
        .source-box.collapse
          - HeadlineSources::Source.categories.each do |category_name, sources|
            .source-category
              %h6
                #{category_name}
                .pull-right.btn-group
                  %input.group-check-box{type: :checkbox, indeterminate: true}
              - sources.each do |source|
                %span.source-checkbox-block
                  = check_box_tag source.id, 1, selected_sources_includes?(source), class: 'source-check-box'
                  = label_tag source.id do
                    = source_image_tag source
                    = source.name
  .col-md-8
    %p.text-muted
      Computers are good at smashing headlines together, but only you can help us discover which are the silliest.
    %p.text-muted
      If you find a good one, save it to #{link_to "the list of best headlines", best_url}.

    #generated-headlines