%tr{class: "headline-row-#{headline.id}"}
  %td.count.hidden-xs
    %span.lead.vote-count= headline.vote_count
  - unless VOTING_DISABLED
    %td.votebox{class: can_downvote?(headline) || did_downvote?(headline) ? 'downvotebox' : ''}
      .lead.vote-count.visible-xs= headline.vote_count
      .btn-group.btn-group-justified
        = render partial: "headlines/headline_votebox", locals: {headline: headline}
        - if can_downvote?(headline) || did_downvote?(headline)
          = render partial: "headlines/headline_downvotebox", locals: {headline: headline}
  %td.headline= link_to headline.name, headline
  %td.permalink.hidden-xs
    = link_to(headline, abbr: "Permalink") do
      %i.fa.fa-link
  %td.permalink.hidden-xs
    = link_to(tweet_url(headline), abbr: "Permalink", target: "_blank") do
      %i.fa.fa-twitter
