%tr
  %td.count
    %span.lead.vote-count= headline.votes
  %td.votebox= render partial: "headlines/headline_votebox", locals: {headline: headline}
  %td.permalink
    = link_to(headline, abbr: "Permalink") do
      %i.fa.fa-link
    %td.permalink
      = link_to(tweet_url(headline), abbr: "Permalink", target: "_blank") do
        %i.fa.fa-twitter
  %td.headline= link_to headline.name, headline
  %td.text-right.sources
    %small.text-muted= headline.categories.join(" / ")
    / - headline.source_objects.each do |source|
    /   = source_image_tag source
