%tr
  %td.count
    %span.lead.vote-count= headline.votes
  %td.votebox= render partial: "headlines/headline_votebox", locals: {headline: headline}
  %td.permalink
    = link_to(headline, abbr: "Permalink") do
      %i.fa.fa-link
  %td.headline= headline.name
  %td.text-right.sources
    - headline.source_objects.each do |source|
      = source_image_tag source
  / %td.permalink
  /   = tweet_button url: headline_url(headline), text: headline.name, lang: 'en', via: nil, dnt: true, count: 'none', hashtags: 'fakeheadlines'
