- @title = "Stupidly Funny Computer-Generated Fake Headlines"
- @short_title = :best

.sort-tools
  - if @sorting_top
    .btn-group.source-picker
      = link_to "Today", params.merge({page: 1, timeframe: :today}), class: default_button_toggle(:timeframe, :today, true)
      = link_to "Yesterday", params.merge({page: 1, timeframe: :yesterday}), class: default_button_toggle(:timeframe, :yesterday)
      = link_to params.merge({page: 1, timeframe: :this_week}), class: default_button_toggle(:timeframe, :this_week) do
        %span.hidden-xs This
        Week
      = link_to "All Time", params.merge({page: 1, timeframe: :all}), class: default_button_toggle(:timeframe, :all)

  = form_tag params, class: 'searchbar hidden-xs', method: :get do
    %span.input-group
      %span.input-group-addon
        %i.fa.fa-search
      = text_field_tag :q, params[:q], placeholder: "Search", class: "form-control"
      - if params[:q].present?
        %span.input-group-btn
          = link_to params.merge(q: nil), class: "btn btn-default input" do
            %i.fa.fa-times

= render partial: 'headlines/headlines_table', locals: {headlines: @headlines}