- @title = "Best Headlines"

%p
  %ul.nav.nav-pills.pull-right
    %li= nav_link "All", {filter: :all}
    - HEADLINE_DICTIONARIES.each do |source|
      %li= nav_link source.to_s.titleize, {filter: source}

%table.table.table-striped
  - @headlines.each do |headline|
    %tr
      %td
        %span.lead.vote-count= headline.votes
      %td
        - if can_vote?(headline)
          = link_to vote_headline_url(headline), remote: true, class: "btn btn-success upvote-button" do
            %i.fa.fa-thumbs-up
            Upvote
        - else
          %button.btn.disabled{type: :button}
            %i.fa.fa-thumbs-up
            Voted
      %td= headline.name
      %td.text-right
        %small.text-muted= headline.sources.join(", ")

= link_to "Generate Random Headlines", headlines_url, class: "btn btn-primary btn-large"