- @title = "Best Headlines"
- @short_title = :best

.btn-toolbar.best-toolbar
  .btn-group
    = link_to "Top Voted", params.merge({page: 1, order: :top}), class: default_button_toggle(:order, :top, true)
    = link_to "Most Recent", params.merge({page: 1, order: :new}), class: default_button_toggle(:order, :new)
    = link_to "\"Trending\"", params.merge({page: 1, order: :trending}), class: default_button_toggle(:order, :trending)

  .btn-group.pull-right
    = link_to "All Sources", params.merge({page: 1, filter: :all}), class: default_button_toggle(:filter, :all, true)
    - HEADLINE_SOURCES.each do |source|
      = link_to (params.merge({page: 1, filter: source})), class: default_button_toggle(:filter, source) do
        = source_image_tag source

%p.text-muted
  These headlines have been saved from the generator. #{link_to "Generate your own!", generator_url}

%table.table.table-striped.headlines-table
  = render @headlines

= will_paginate @headlines, renderer: BootstrapPagination::Rails