- @title = "Best Headlines"
- @short_title = :best

%p
  %ul.nav.nav-pills.pull-right
    %li= nav_link "All", {filter: :all}
    - HEADLINE_DICTIONARIES.each do |source|
      %li= nav_link source.to_s.titleize, {filter: source}

%table.table.table-striped.headlines-table
  - @headlines.each do |headline|
    %tr
      %td
        %span.lead.vote-count= headline.votes
      %td
        - if can_vote?(headline)
          = link_to vote_headline_url(headline), remote: true, class: "btn btn-success upvote-button" do
            %i.fa.fa-thumbs-up
            Upvote
        - else
          %button.btn.disabled{type: :button}
            %i.fa.fa-thumbs-up
            Voted
      %td.headline= headline.name
      %td.text-right
        - headline.sources.each do |source_name|
          = source_image_tag source_name