- @title = "Generator"
- @short_title = :generator

.generate-form
  = form_tag generate_headlines_path, method: :post, data: {remote: true} do
    .row
      .col-md-4.col-md-offset-4
        = submit_tag "Invent Hilarious Headlines", class: "btn btn-warning btn-lg", disable_with: "Inventing...", id: "invent-button"
    .row
      .col-md-4.col-md-offset-4
        .source-box
          %strong Use sources:
          %br/
          - HEADLINE_SOURCES.each do |source|
            %span.source-checkbox-block
              = check_box_tag source, 1, sources_includes?(source)
              = label_tag source do
                = source_image_tag source
                = source_pretty_name source

%p.text-muted
  Think any of these are funny? Click save to add them to #{link_to "the list of best headlines", best_url}.

#generated-headlines
