- if @user
  - @title = "User | #{@user.login} | Saved Headlines"
  %h2= link_to @user.login, @user
  .clearfix
    .pull-left
      .lead.text-muted
        Saved Headlines
  .sort-tools.pull-right
    .btn-group.source-picker
      = link_to "Best", params.merge({page: 1, order: :top}), class: default_button_toggle(:order, :top, true)
      = link_to "Recent", params.merge({page: 1, order: :new}), class: default_button_toggle(:order, :new)
- else
  - if params[:order] == :hot
    - @title = "Hot Smashes"
  - elsif params[:order] == :new
    - @title = "Recent Smashes"
  - elsif params[:order] == :trending
    - @title = "Trending Smashes"
  - else
    - if params[:timeframe] == 'all'
      - @title = "Best Smashes of All Time"
    - elsif params[:timeframe] == 'this_week'
      - @title = "Best Smashes of This Week"
    - elsif params[:timeframe] == 'yesterday'
      - @title = "Best Smashes from Yesterday"
    - else
      - @title = "Stupidly Funny Computer-Generated Fake Headlines"
      - @short_title = :best
      - @homepage = true
  = render 'headlines/sort_tools'

= render partial: 'headlines/headlines_table', locals: {headlines: @headlines, no_paginate: @homepage}
- if @homepage
  - new_ones = Headline.just_in.limit(6)
  - if new_ones.present?
    %h4.text-muted This just in...
    = render partial: 'headlines/headlines_table', locals: {headlines: new_ones }
  = will_paginate @headlines, renderer: BootstrapPagination::Rails
