%h1 Pick Photo
%h4= link_to @headline.formatted_name, @headline
- @title = "Pick Photo"

%hr

= form_tag url_for, {method: :get} do
  .input-group
    = text_field_tag  :search, @search, class: "form-control"
    .input-group-btn
      = submit_tag "Search", class: "btn btn-primary"

%hr

- @photos.to_a.in_groups_of(4, false) do |photos|
  .row
    - photos.each do |photo|
      .col-md-3
        = form_tag update_photo_headline_url(@headline) do |f|
          = hidden_field_tag :json, photo.to_json
          = image_submit_tag FlickRaw.url_m(photo), style: "width:100%;height:auto;"
