- @title = @headline.name

.jumbotron.single-headline
  %h1= @headline.name
  %h2
    .count.text-muted
      %span.vote-count= @headline.vote_count
      = @headline.vote_count != 1 ? "votes" : "vote"

    - unless VOTING_DISABLED
      .votebox= render partial: "headlines/headline_votebox", locals: {headline: @headline, vote_statuses: VoteStatusCollection.new(current_user, [@headline])}
.row
  .col-md-6
    .well
      = link_to "Make Your Own Mashup", generator_url, class: "btn btn-warning btn-lg btn-block"
      = link_to "View The Best Headlines", best_url, class: "btn btn-primary btn-lg btn-block"
  .col-md-6
    %p
      = tweet_button url: headline_url(@headline), text: @headline.name, lang: 'en', via: nil, dnt: true, size: 'large', no_js: true
    %h4.text-muted
      This stupid thing is a mashup of headlines from:
    %ul
    - @headline.source_objects.each do |source|
      %li.source
        = source_image_tag source
        = source.name

    %p.text-muted
      %small
        %span.vote-count= @headline.upvote_count
        = @headline.upvote_count != 1 ? "upvotes" : "upvote"
        \/
        %span.vote-count= @headline.downvote_count
        = @headline.downvote_count != 1 ? "downvotes" : "downvote"

    %p.text-muted
      %small
        generated #{time_ago_in_words @headline.created_at} ago
        - if @headline.creator
          \ - discovered by #{link_to @headline.creator.login, @headline.creator}
        \ - depth #{@headline.depth}
