- @title = "Fake Headlines Mashed Up From \"#{@source_headline.name}\" Headline on #{@source_headline.source.try :name}"

.lead{style: "margin-bottom: 0"}
  .text-muted
    Real Headline
    - if @source_headline.source
      from
      = source_image_tag @source_headline.source
      = link_to @source_headline.source.name, source_url(@source_headline.source.id)
    - elsif @source_headline.source_id
      from #{@source_headline.source_id}
  .title
    %strong &ldquo;#{@source_headline.name}&rdquo;
.byline{style: "margin-bottom: 1em"}
  - if @source_headline.pretty_author
    %span= @source_headline.pretty_author
    - if @source_headline.published_at
      &mdash;
  - if @source_headline.published_at
    %span= @source_headline.published_at.strftime("%B %e, %Y")
.tools.btn-toolbar
  = link_to @source_headline.article_url, class: "btn btn-success read-article-link", data: read_link_data(@source_headline) do
    %i.fa.fa-globe
    Read Article
  - if @source_headline.source
    = link_to generator_url(@source_headline.source.id => 1), class: "btn btn-default pull-right" do
      %i.fa.fa-gears
      Smash #{@source_headline.source.name}
    = link_to source_url(@source_headline.source.id), class: "btn btn-default pull-right" do
      %i.fa.fa-star
      Smashes From #{@source_headline.source.name}

%hr/

.clearfix
  %h3
    .sort-tools.pull-right
      .btn-group.source-picker
        = link_to "Best", params.merge({page: 1, order: :top}), class: default_button_toggle(:order, :top, true)
        = link_to "Recent", params.merge({page: 1, order: :new}), class: default_button_toggle(:order, :new)
    Smashes of This Headline

= render partial: 'headlines/headlines_table', locals: {headlines: @headlines}
