%footer
  .text-muted
    .row
      .col-md-6
        %p
          = link_to "https://twitter.com/HeadlineSmasher" do
            %i.fa.fa-twitter
            Follow
            %strong @HeadlineSmasher
            on Twitter

        %p
          Built by
          = link_to "http://www.wilgieseler.com/" do
            Wil Gieseler
          as a weird side project thing.
          Follow me at #{link_to "@wilgieseler", "https://twitter.com/wilgieseler"}!
        = link_to random_headlines_url, class: 'btn btn-primary random-headline-link' do
          %i.fa.fa-refresh
          Random Smash
      .col-md-6.text-right
        %p
          = link_to "https://github.com/wilg/headlines/issues" do
            %i.fa.fa-lightbulb-o
            Make a Suggestion
        %p
          = link_to "https://github.com/wilg/headlines/issues" do
            %i.fa.fa-bug
            Report a Bug
        %p
          = link_to "https://github.com/wilg/headlines" do
            %i.fa.fa-code
            View Source or Contribute on GitHub
  %hr/
  %p
    .pull-right
      %a{href: "https://mixpanel.com/f/partner"}
        %img{alt: "Mobile Analytics", src: "//cdn.mxpnl.com/site_media/images/partner/badge_light.png"}/
    %small.text-muted
      &copy; #{Time.now.year} Wil Gieseler
      %br/
      Original headlines are copyrighted by their respective owners. This is a parody of news headlines.
  %br
