%footer
  .text-muted
    .row.text-center
      %p
        = link_to "https://twitter.com/HeadlineSmasher" do
          %i.fa.fa-twitter
          Follow
          %strong @HeadlineSmasher
          on Twitter
      .more Get the best smashes all up in your social business.
    %hr/
    .row
      .col-md-6
        %p
          Built by
          = link_to "http://www.wilgieseler.com/" do
            Wil Gieseler
          as a weird side project thing.
        %p Follow me on Twitter at #{link_to "@wilgieseler", "https://twitter.com/wilgieseler"} if that's your jam.
        = link_to random_headlines_url, class: 'btn btn-primary random-headline-link' do
          %i.fa.fa-refresh
          Random Smash
      .col-md-6.text-right
        %p
          = link_to "https://github.com/wilg/headlines/issues" do
            %i.fa.fa-lightbulb-o
            Make a Suggestion
        %p
          = link_to "https://github.com/wilg/headlines/issues" do
            %i.fa.fa-bug
            Report a Bug
        %p
          = link_to "https://github.com/wilg/headlines" do
            %i.fa.fa-code
            View Source or Contribute on GitHub
  %hr/
  %p
    .pull-right
      %small.text-muted
        Original headlines are copyrighted by their respective owners. This is a parody of news headlines.
    %small.text-muted
      &copy; #{Time.now.year} Wil Gieseler
  %br
