%header
  .container
    #header-content
      .clearfix
        .pull-left
          %h1.site-title
            = link_to root_path do
              Headline
              %i.fa.fa-gavel
              Smasher
          .lead Fake headlines created by smashing up real headlines.
        .hidden-xs.pull-right= render 'layouts/login_box'

      - [["visible-xs", "btn-sm"], ["hidden-xs", "btn-lg"]].to_h.each do |toolbar_class, button_class|
        .btn-toolbar{class: toolbar_class}
          .btn-group
            = link_to root_path, class: main_button_explore_class(button_class) do
              %i.fa.fa-star
              Explore
            - unless GENERATOR_DISABLED
              = link_to generator_url, class: "btn #{button_class} btn-default #{@short_title == :generator ? "active" : "btn-default"}" do
                %i.fa.fa-gears
                Smash
          .btn-group.pull-right
            = link_to leaderboard_url, class: "btn #{button_class} btn-default #{@short_title == :leaderboard ? "active" : "btn-default"}" do
              %i.fa.fa-trophy
              Leaderboard
            = link_to random_headlines_url, class: "btn #{button_class} btn-default random-headline-link", data: { keybinding: 'r' } do
              %i.fa.fa-refresh
              Random

      .visible-xs.text-center= render 'layouts/login_box'
