#login-box.text-muted
  %span.label.label-success.pull-right.new-feature
    = link_to "https://twitter.com/HeadlineSmasher" do
      %strong New!
      Twitter Bot
  - if user_signed_in?
    = link_to destroy_user_session_path, method: :delete, class: 'btn btn-link btn-autohide link-muted' do
      %i.fa.fa-sign-out
      %span sign out
    = link_to current_user, class: 'btn btn-link' do
      %i.fa.fa-user
      = current_user.login
    = link_to leaderboard_url, class: 'btn btn-link' do
      %i.fa.fa-trophy
      = number_with_delimiter current_user.karma
  - else
    .btn.btn-default.btn-sm{data:{toggle: 'modal', target: '#modal-login-form'}}
      %i.fa.fa-user
      Sign Up
    = link_to new_user_session_url, class: 'btn btn-default btn-sm' do
      %i.fa.fa-sign-in
      Sign In
