!!!
%html
  %head
    %title Headline Smasher | #{@title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'apple-mobile-web-app-title', content: 'Smasher'}
    %link{rel: 'apple-touch-icon-precomposed', href: image_url('apple-touch-icon-precomposed.png') }
    %meta{charset: 'utf-8'}
    - og_tags.each do |k, v|
      %meta{property: k, content: v}
  %body{class: user_signed_in? ? 'logged-in' : 'logged-out', data: user_data}
    = render 'layouts/header'

    .container
      - if ENV['SITE_ALERT'].present?
        #site-alert.alert.alert-warning.text-center
          %strong Hey!
          = ENV['SITE_ALERT']

      %br/

      = yield

      %hr/

      %footer
        %small.text-muted
          .row
            .col-md-6
              %p
                a weird side project thing by #{link_to "Wil Gieseler", "http://github.com/wilg"} (#{link_to "@wilgieseler", "http://twitter.com/wilgieseler"})
                %br/
                this app's #{link_to "source code on GitHub", "https://github.com/wilg/headlines"}
            .col-md-6.text-right
              %p
                = link_to random_headlines_url, class: 'random-headline-link' do
                  %i.fa.fa-refresh
                  random headline
                %br/
                #{link_to "report a bug", "https://github.com/wilg/headlines/issues"} or #{link_to "suggest a feature", "https://github.com/wilg/headlines/issues"}
        %p
          %a{href: "https://mixpanel.com/f/partner"}
            %img{alt: "Mobile Analytics", src: "//cdn.mxpnl.com/site_media/images/partner/badge_light.png"}/
    #upvoted-button{style: "display:none"}
      %button.btn.disabled{type: :button}
        %i.fa.fa-thumbs-up
        Voted
    = render 'layouts/login_apology'

  = render 'layouts/analytics'