!!!
%html
  %head
    %title Comedy Headline Generator Dingus | #{@title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container

      %header.text-center

        %h1 Comedy Headline Generator Dingus
        .lead Mashup various news sources into stupid new headlines. Then vote on which are stupidest!

        .text-center
          .btn-group
            = link_to best_url, class: "btn btn-lg #{@short_title == :best ? "btn-primary" : "btn-default"}" do
              %i.fa.fa-star
              Best Headlines
            = link_to generator_url, class: "btn btn-lg #{@short_title == :generator ? "btn-primary" : "btn-default"}" do
              %i.fa.fa-gears
              Headline Generator

      %br/

      = yield

      %hr/

      %small.text-muted
        .pull-right
          %p this app's #{link_to "source code on GitHub", "https://github.com/wilg/headlines"}
        .pull-left
          %p
            made really quickly by #{link_to "Wil Gieseler", "http://github.com/wilg"}
            \ -
            ripped off from #{link_to "this awesome thing", "http://grantslatton.com/hngen/?lookback=2"} that I didn't make

    #upvoted-button{style: "display:none"}
      %button.btn.disabled{type: :button}
        %i.fa.fa-thumbs-up
        Voted
