!!!
%html
  %head
    %title Headline Smasher | #{@title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'apple-mobile-web-app-title', content: 'Smasher'}
    %link{rel: 'apple-touch-icon', href: image_url('apple-touch-icon.png') }
    %meta{charset: 'utf-8'}
    - og_tags.each do |k, v|
      %meta{property: k, content: v}
  %body{class: user_signed_in? ? 'logged-in' : 'logged-out', data: user_data}
    = render 'layouts/header'

    .container
      - if ENV['SITE_ALERT'].present?
        #site-alert.alert.alert-warning.text-center
          %strong Hey!
          = ENV['SITE_ALERT']

      %br/

      = yield

      %hr/

      = render 'layouts/footer'

    #upvoted-button{style: "display:none"}
      %button.btn.disabled{type: :button}
        %i.fa.fa-thumbs-up
        Voted
    = render 'layouts/login_apology'

  = render 'layouts/analytics'
