!!!
%html
  %head
    %title Comedy Headline Generator Dingus | #{@title}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      %h2 Comedy Headline Generator Dingus
      %p Mashup different sources, like Hacker News and Upworthy. Upvote the best ones! Laugh! Cry! Learn to love!
      %p Ripped off from #{link_to "this awesome thing", "http://grantslatton.com/hngen/?lookback=2"}.

      %ul.nav.nav-tabs
        %li= nav_link "Best Headlines", root_url
        %li= nav_link "Generator", headlines_url

      %br/

      = yield

      %hr/

      %p
        this app's #{link_to "source code on GitHub", "https://github.com/wilg/headlines"}
      %p
        made really quickly by #{link_to "Wil Gieseler", "http://github.com/wilg"}

    #upvoted-button{style: "display:none"}
      %button.btn.disabled{type: :button}
        %i.fa.fa-thumbs-up
        Voted
